In [1]:
#datastructureassignment
# question1
# This is a single-line comment
print("Hello, World!")  # This is another single-line comment

Hello, World!

In [2]:
'''
This is another multi-line comment.
It can also span across multiple lines.
'''
print("Hello, World!")

Hello, World!

In [6]:
# question2
variable_name = value

NameError: name 'value' is not defined

In [8]:
# Integer variable
age = 25

# String variable
name = "John Doe"

# Floating-point variable
salary = 2500.50

# Boolean variable
is_student = True

# List variable
fruits = ["apple", "banana", "orange"]

# Tuple variable
point = (10, 20)

# Dictionary variable
person = {"name": "Jane", "age": 30}

# None variable
data = None

In [10]:
# question3
# Convert int to float
x = 10
y = float(x)
print(y)  

# Convert float to int
a = 3.14
b = int(a)
print(b)  

# Convert int to string
num = 42
text = str(num)
print(text) 
# Convert string to int
num_str = "123"
num_int = int(num_str)
print(num_int)  

# Convert list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  
# Convert tuple to list
my_tuple = (4, 5, 6)
my_list = list(my_tuple)
print(my_list) 

# Convert boolean to int
is_true = True
num = int(is_true)
print(num)  

# Convert int to boolean
num = 0
is_true = bool(num)
print(is_true)

10.0
3
42
123
(1, 2, 3)
[4, 5, 6]
1
False

In [11]:
# question4
# my_script.py
print("Hello, World!")

Hello, World!

In [12]:
# question5
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [14]:
# question6
# a complex number is a number that can be expressed in the form a + bi, where a and b are real numbers, and i is the imaginary unit.
# Using the complex() constructor
z1 = complex(3, 4) 
z2 = complex(0, 1)  

# Using the syntax a + bj
z3 = 2 + 3j
z4 = 1 - 2j

# Using variables
a = 5
b = -2
z5 = a + b * 1j

print(z1)  
print(z2)  
print(z3)  
print(z4)  
print(z5)

(3+4j)
1j
(2+3j)
(1-2j)
(5-2j)

In [16]:
# question7
age = 25

In [18]:
# question8
price = 9.99
type(price)

float

In [19]:
# question9
name = "John Doe"
type(name)

str

In [21]:
# question10
string = "Hello, World!"
substring = string[7:12]
print(substring)

World

In [22]:
# question11
is_student = True
type(is_student)

bool